@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Name:</strong>  Kwarten <br />
    <strong>Location:</strong> Koog aan de Zaan, The Netherlands <br />
    <abbr title="Phone number">P:</abbr>
    +06 37328236
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Tkwarten@hotmail.com">Tkwarten@hotmail.com</a><br />
</address>
