@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="top" class="jumbotron">
    <div class="container">
        <h1>Tom Kwarten</h1>
        <p>Software Engineer</p>
    </div>
    <div class="overlay"></div>
</div>

<div id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <p>col1</p>
            </div>
            <div class="col-md-2">
                <p>col2</p>
            </div>
            <div class="col-md-3">
                <p>col3</p>
            </div>
        </div>
    </div>
</div>