@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    “Gebruik van permanente cookies
    Met behulp van een permanente cookie kunnen wij jou herkennen bij een nieuw bezoek op onze website. De website kan daardoor speciaal op jouw voorkeuren worden ingesteld. 
    Ook wanneer je toestemming hebt gegeven voor het plaatsen van cookies kunnen wij dit door middel van een cookie onthouden. Hierdoor hoef je niet steeds jouw voorkeuren te herhalen waardoor
    je dus tijd bespaart en een prettiger gebruik van onze website kunt maken. Permanente cookies kan je verwijderen via de instellingen van jouw browser.”
</p>